main {
    background-color: black;
    box-shadow: 0 -2px 2px -2px white;
}

main img {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    top: 2%;
    filter: blur(50%);
    box-shadow: 0 0 3px 3px black;
    border-radius: 80% 80%;
    width: 20%;

}

#inside {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    top: 40%;
    width: 50%;
    height: 58%;
    color: white;
}
