* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {

    font-size: 10px;
}

header {
    color: whitesmoke;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-family: 'VT323', monospace;
    z-index: 1;
}

main {
    height: 100vh;
    background-color: white;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}

header img {
    position: absolute;
    bottom: 6%;
    height: 80%;
    right: -80%;
}

header nav {
    position: absolute;
    right: 9%;
    top: 3%;
    font-size: 3rem;
}

header hgroup {
    position: absolute;
    top: 15%;
    left: 8%;
    z-index: 1;
}

header h1 {
    font-size: 3.6rem;
}

header h3 {
    font-size: 1.7rem;
}

#arrow {
    width: 48px;
    height: 48px;
    border: 3px solid white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    transition: 1s ease;
    overflow: hidden;
}

#arrow:hover {
    text-shadow: 0px -8px 0 white, 0px 8px 0 white;
    box-shadow: 0 0 2px 2px white;
    cursor: pointer;
}

.fa-sort-desc {
    animation: arrow 1.5s infinite linear;
}

@media (orientation: landscape) {
    header img {
        bottom: 10%;
        height: 60%;
        right: -10%;
    }
    header hgroup {
        top: 18%;
    }
    header h1 {
        font-size: 4rem;
    }
    header h3 {
        font-size: 2rem;
    }
}

@media (min-width:400px) {
    header hgroup {
        left: 6%;
        top: 11%;
    }
    header h1 {
        font-size: 4.3rem;
    }
    header h3 {
        font-size: 2.15rem;
    }

}

@media (min-width: 700px) {
    header img {
        right: -60%
    }
    header hgroup {
        top: 20%;
    }
    header h1 {
        font-size: 8rem;
    }

    header h3 {
        font-size: 4rem;
    }
}

@media (device-width: 375px) and (device-height: 812px) {
    header img {
        right: -98%;
    }
}

@media only screen and (min-width:1025px) {
    header img {
        right: -20%;
        bottom: 8%;
        height: 90%;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(-40px)
    }
    50% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(40px)
    }
}
