main {
    background-color: black;
    box-shadow: 0 0 2px 2px white;
}

main img {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    top: 2%;
    filter: blur(50%);
    box-shadow: 0 0 3px 3px black;
    border-radius: 80% 80%;
}

#inside {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    top: 45%;
    width: 70%;
    height: 45%;
    color: white;
}
